{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'shikihos/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'shikihos/style.css' %}">
{% block extra_css %}{% endblock %}
    <title>Stock Researcher (django)</title>
    </head>
    <body>
        <h1>Stock Researcher</h1>
        {% block content %}
        {% endblock %}
<script src="{% static 'shikihos/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'shikihos/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
